# 飞书配置
FEISHU_APP_ID=cli_a9e7b6aaf7381bd7
FEISHU_APP_SECRET=your_app_secret_here
FEISHU_OPEN_ID=ou_bf952c0557f9866f8228b6f837aa2329

# Gemini API
GEMINI_API_KEY=your_gemini_api_key_here

# 和风天气
QWEATHER_API_KEY=eaa005014e9a4523a9b1f0d90e645033

